@using Home_Work_12_MVC
@{
    ViewBag.Title = "Task 1";
    string[] cities = { "Лондон", "Париж", "Берлин" };
    string[] countries = { "Великобритания", "Франция", "Германия" };
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
@Html.GetTime()
@Html.GetOsVersion()
@Html.GetDayOfWeak()
@Html.GetUtc()
@Html.GetUserName()
@Html.GetUserDomainName()
</body>
</html>