@page "/Processors"
@model Home_Work_6.Pages.Category.Processors

@{
    Layout = "_Layout";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Processors</title>
    <link href="css/processorStyle.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="filter__panel__container">
    <div class="info__wrapper">
        <header class="header">Модель</header>
        <ul>
            <li>
                <input type="checkbox">
                <span>AMD</span>
            </li>
            <li>
                <input type="checkbox">
                <span>Intel</span>
            </li>
        </ul>
    </div>
    <div class="info__wrapper">
        <header class="header">Сокет процессора</header>
        <ul>
            @foreach (var socket in Model._templateData._sockets)
            {
                <li>
                    <input type="checkbox">
                    <span>@socket</span>
                </li>
            }
        </ul>
    </div>
    <div class="info__wrapper">
        <header class="header">Линейка</header>
        <ul>
            @foreach (var socket in Model._templateData.ProcessorLineup)
            {
                <li>
                    <input type="checkbox">
                    <span>@socket</span>
                </li>
            }
        </ul>
    </div>
</div>
<div class="products__container">
    @foreach (var processor in Model._Processors)
    {
        <div class="show__processor__container">
            @{
                var tmp = processor.Model;
                tmp = tmp + ".png";
            }
            <img src="/Images/Processors/@tmp" height="200px" width="200px" alt="@processor.Model">
            <div class="processor__info">
                <a href="Processor?">
                    <div>Процессор: @processor.Model</div>
                </a>
                <div>Тип: Процессор</div>
                <div>Линейка процессора:<span>@processor._specifications.ProcessorLine</span></div>
                <div>Архитектура: <span>@processor._specifications.Architecture</span></div>
                <div>Сокет процессора: <span>@processor._specifications.Architecture</span></div>
                <div>Базовая чистота, ГГц: <span>@processor._specifications.ClockFrequency</span></div>
            </div>
            <div class="price">
                <span>Цена:</span>
                <span >@processor._specifications.Price грн</span>
            </div>
        </div>
        ////////////////////////
        ////////////////////////
        ////////////////////////
        ////////////////////////
        ДОДЕЛАТЬ ФИЛЬТР НА СТРАНИЦЕ
        ДОДЕЛАТЬ MODEL SHOW
            СТРАНИЦА ОТПРАВКИ МОДЕРАТОРУ СООБЩЕНИЯ
                СТРАНИЦА МЕНЕДЖЕРА ДЛЯ ПРОСМОТРА СООБЩЕНИЙ ОТ ПОЛЬЗОВАТЕЛЯ
    }
</div>
</body>
</html>