@page "{handler?}"
@using Home_Work_5
@model Home_Work_5.Pages.index


<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" href="css/styles.css">

    <title>Home Work 5</title>
</head>
<body style="background: #110f23">
<div class="content">
    <span class="header__books">Книги</span>
    <main class="books__library__container">
        @for (var i = 0; i < Book.books.Count; i++)
        {
            <div class="book__wrapper">
                <div id="id" hidden="hidden" content="@i"></div>
                <span class="book__name" name="book__name" title="@Book.books[i].Title">Название: @Book.books[i].Title</span>
                <span class="book__Author" title="@Book.books[i].Author">Автор: @Book.books[i].Author</span>
                <span class="book__publicationYear" title="@Book.books[i].Publisher">Год издания: @Book.books[i].PublicationYear</span>
            </div>
        }
    </main>
</div>
<script src="js/js.js"></script>
</body>
</html>