@page
@using Home_Work_7
@model Home_Work_7.Pages.Index

@{
    Layout = "_Layout";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" href="css/styles.css">
    <title>Home Work 5</title>
</head>
<body style="background: #110f23">
<div class="content">
    <aside class="filter__panel">
        <div>Год Издания</div>
        <input id="fYearFrom" type="number" value="@Convert.ToString(Model.YearFrom)" placeholder="От">
        <input id="fYearTo" type="number" value="@Convert.ToString(Model.YearTo)" placeholder="До">
    </aside>
    <span class="header__books">Книги</span>
    <main class="books__library__container">
        @for (var i = 0; i < Books.books.Count; i++)
        {
            var book = Books.books[i];
            if (book.PublicationYear >= Model.YearFrom && book.PublicationYear <= Model.YearTo)
            {
                <a href="/book?id=@book.id" class="book__wrapper">
                    <span class="book__name" title="@book.Title">Название: @book.Title</span>
                    <span class="book__Author" title="@book.Author">Автор: @book.Author</span>
                    <span class="book__publicationYear" title="@book.Publisher">Год издания: @book.PublicationYear.ToString()</span>
                </a>
            }
        }
    </main>
</div>
<script src="scripts/filter.js"></script>
</body>
</html>